@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row mt-5">
    <div class="col-md text-center">
        <h1>Crear Usuario</h1>
    </div>
</div>
<hr />
<form method="post" action="@Url.Action("CrearUsuario","Admin")">
    <div class="row mt-3">
        <div class="col-md">
            <label for="Nombre">Nombre</label>
            <input class="form-control" type="text" placeholder="Nombre" id="Nombre" autocomplete="off" name="Nombre" required />
        </div>
        <div class="col-md">
            <label for="Documento">Documento</label>
            <input class="form-control" type="number" placeholder="Documento" name="Documento" autocomplete="off" id="Documento" onkeypress="soloNumeros(this)" required />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md">
            <label for="correo">Email</label>
            <input class="form-control" type="email" placeholder="Email" value="" autocomplete="off" name="correo" id="correo" required />
        </div>
        <div class="col-md">
            <label for="Rol">Rol</label>
            <select class="form-control" name="Rol" id="Rol" required>
                <option>Seleccione</option>
                @foreach (var item in ViewBag.Perfiles)
                {
                    <option value="@item.PerfilId">@item.Descripcion</option>
                }
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="Pass">Contraseña</label>
            <input class="form-control" type="password" placeholder="Contraseña" value="" autocomplete="off" name="contra" id="contra" required />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md mt-5">
            <input type="submit" class="btn btn-success" value="Crear Usuario" />
        </div>
    </div>
</form>